---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: client

"on":
  workflow_dispatch:
  push:
    branches:
      - master
    tags:
      - v*

permissions:
  contents: write

jobs:
  client:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Configure aws
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Install packwiz
        uses: actionhippie/install-packwiz@2e6b4c93583aed0edf00f3e8c6217b515c770a4e # v2

      - name: Build package
        run: make build

      - name: Sign package
        uses: actionhippie/gpgsign@ac40437a8c10f2b1bf7203b9e2b319c85e551fb0 # v1
        with:
          private_key: ${{ secrets.GNUPG_KEY }}
          passphrase: ${{ secrets.GNUPG_PASSWORD }}
          detach_sign: true
          files: |
            dist/*.mrpack
            dist/*.zip

      - name: Upload release
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          allowUpdates: true
          omitBody: true
          artifacts: dist/*

      - name: Upload version
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          aws s3 sync dist/ s3://dl.webhippie.de/minecraft/skyblock/${{ github.ref_name }}/

      - name: Upload testing
        if: startsWith(github.ref, 'refs/heads/')
        run: |
          aws s3 sync dist/ s3://dl.webhippie.de/minecraft/skyblock/testing/

...
